<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="card">
        <div class="card-img-top">
          <img src="../../assets/paintings/Claire Redfield Avatar.jpg" class="rounded img-fluid">
        </div>
        <div class="card-body">
          <p>This painting is blah blah</p>
          <p>Price</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <div class="card-img-top">
          <img src="../../assets/paintings/Claire Redfield Avatar.jpg" class="rounded img-fluid">
        </div>
        <div class="card-body">
          <p>This painting is blah blah</p>
          <p>Price</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <div class="card-img-top">
          <img src="../../assets/paintings/Claire Redfield Avatar.jpg" class="rounded img-fluid">
        </div>
        <div class="card-body">
          <p>This painting is blah blah</p>
          <p>Price</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <div class="card-img-top">
          <img src="../../assets/paintings/Claire Redfield Avatar.jpg" class="rounded img-fluid">
        </div>
        <div class="card-body">
          <p>This painting is blah blah</p>
          <p>Price</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <div class="card">
        <div class="card-img-top">
          <img src="../../assets/paintings/Claire Redfield Avatar.jpg" class="rounded img-fluid">
        </div>
        <div class="card-body">
          <p>This painting is blah blah</p>
          <p>Price</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <div class="card-img-top">
          <img src="../../assets/paintings/Claire Redfield Avatar.jpg" class="rounded img-fluid">
        </div>
        <div class="card-body">
          <p>This painting is blah blah</p>
          <p>Price</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <div class="card-img-top">
          <img src="../../assets/paintings/Claire Redfield Avatar.jpg" class="rounded img-fluid">
        </div>
        <div class="card-body">
          <p>This painting is blah blah</p>
          <p>Price</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <div class="card-img-top">
          <img src="../../assets/paintings/Claire Redfield Avatar.jpg" class="rounded img-fluid">
        </div>
        <div class="card-body">
          <p>This painting is blah blah</p>
          <p>Price</p>
        </div>
      </div>
    </div>
</div>